---
title: "Ciriculum Vitae"
permalink: /cv/
author_profile: true
redirect_from:
  - /resume
---

{% include base_path %}

<h2>EDUCATION</h2></ hr>
    <ul>
        <li>2015  Ph.D. in Information Studies, Florida State University, Tallahassee, FL, 2015</li>
        <li>2008  Master of Library and Information Science, Pusan National University, Busan, South Korea, 2008</li>
        <li>2003  Bachelor of Library and Information Science, Pusan National Univeristy, Busan, South Korea, 2003</li>
    </ul>

<h2>ACADEMIC AND PROFESSIONAL APPOINTMENTS</h2>
    <ul>
        <li>2024–present  Professor, School of Information Studies, University of Wisconsin-Milwaukee, Milwaukee, WI, 2024–present</li>
        <li>2018–2024 Professor, School of Information Studies, University of Wisconsin-Milwaukee, Milwaukee, WI, 2018–2024</li>
        <li>2017–2018 Assistant Professor, School of Information Studies, University of Wisconsin-Milwaukee, Milwaukee, WI, 2017–2018</li>
        <li>2015–2017 Fellow, Business School, Worcester Polytechnic Institute, Worcester, MA, 2015–2017</li>
    </ul>

<h2>RESEARCH</h2>
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h3>{{ category[1].title }}</h3>
        {% assign title_shown = true %}
      {% endunless %}
      <ul>
        <li>
        {% if post.citation and post.paperurl and post.slidesurl %}
          {{ post.citation }}<br /><a href="{{ post.paperurl }}">Download Paper</a> | <a href="{{ post.slidesurl }}">Download Slides</a>
        {% elsif post.citation and post.paperurl %}
          {{ post.citation }}<br /><a href="{{ post.paperurl }}">Download Paper</a>
        {% elsif post.citation and post.slidesurl %}
          {{ post.citation }}<br /><a href="{{ post.slidesurl }}">Download Slides</a>
        {% elsif post.citation %}
          {{ post.citation }}
        {% elsif post.paperurl %}
          <a href=" {{ post.paperurl }} ">Download Paper</a>
        {% elsif post.slidesurl %}
          Download <a href="{{ post.slidesurl }}">Download Slides</a>
        {% endif %}
        </li>
      </ul>
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}

<h2>TEACHING</h2>

<h2>SERVICE</h2> 
<ul>
  <li>Service and leadership</li>
  <li>2024–present MSIST Porgram Committee</li>
  <li>2023–2024 BSIST Program Committee</li>

