---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{https://scholar.google.com/citations?user=p5_1GbgAAAAJ&hl=en}}">my Google Scholar profile</a>.</div>
{% endif %}

# Publications

<!-- Check if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category %}
  ## {{ category[1].title }}
  ---
  {% for post in site.publications reversed %}
    {% if post.category == category[0] %}
      - **[{{ post.title }}]({{ post.url }})**  
        {{ post.date | date: "%B %d, %Y" }}  
        {{ post.excerpt }}
    {% endif %}
  {% endfor %}
  {% endfor %}
{% else %}
  <!-- If no categories are defined, list all publications -->
  {% for post in site.publications reversed %}
  ## {{ post.title }}
  {{ post.date | date: "%B %d, %Y" }}  
  {{ post.excerpt }}
  [Read more]({{ post.url }})
  ---
  {% endfor %}
{% endif %}



